<% if current_user %>
  <nav class="transparent">
    <div class="nav-wrapper">
      <%= link_to image_tag("/assets/sun.png"), root_path, {class: 'sun-logo'} %>
      <ul id="nav-mobile" class="right">
        <% if current_page?(new_location_path) %>
          <li><%= link_to "My Favorites", dashboard_path %></li>
          <li> <%= link_to "Site Data", data_path %> </li>
        <% elsif current_page?(dashboard_path) %>
          <li><%= link_to "Enter Address", new_location_path %></li>
          <li> <%= link_to "Site Data", data_path %> </li>
        <% else %>
          <li><%= link_to "My Favorites", dashboard_path %></li>
          <li><%= link_to "Enter Address", new_location_path %></li>
        <% end %>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
<% end %>
