<div>
  <div class="row">
    <div id="recents-table" class="col m10 offset-m1">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Sunrise Time</th>
            <th>Weather</th>
            <th>Sunset Time</th>
            <th>Weather</th>
          </tr>
        </thead>
        <tbody>
          <% @recents.each_with_index do |recent, index| %>
          <% if recent.favorite == 0 %>
              <tr>
                <td><%= recent.date.strftime("%B %d, %Y") %></td>
                <td><%= recent.city %></td>
                <td><%= @recent_cleaned.sunrises[index] %></td>
                <td><%= @recent_cleaned.sunrises_weather[index] %></td>
                <td><%= @recent_cleaned.sunsets[index] %></td>
                <td><%= @recent_cleaned.sunsets_weather[index] %></td>
                <td><%= link_to "Add to favorites", location_path(recent), method: :patch %></td>
                <td><%= link_to "Today's Info", today_path(:params => {:location => recent}), method: :post %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
