<% cache "recent-details-#{@recents.count}" do %>
<div>
  <div class="row">
    <div id="recents-table" class="col m8 offset-m2">
      <table>
        <thead>
          <tr>
            <th data-field="id">Location</th>
            <th data-field="name">Sunrise Time</th>
            <th data-field="price">Weather</th>
            <th data-field="name">Sunset Time</th>
            <th data-field="price">Weather</th>
          </tr>
        </thead>
        <tbody>
          <% @recents.first(3).each_with_index do |recent, index| %>
          <% if recent.favorite == 0 %>
              <tr>
                <td><%= recent.city %></td>
                <td><%= @recent_cleaned.sunrises[index] %></td>
                <td><%= @recent_cleaned.sunrises_weather[index] %></td>
                <td><%= @recent_cleaned.sunsets[index] %></td>
                <td><%= @recent_cleaned.sunsets_weather[index] %></td>
                <td><%= link_to "Add to favorites", location_path(recent), method: :patch %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
