<div class="show-title col m6 offset-m1 container center">
  <h2>Here are your Favorite locations, <%= current_user.nickname %></h2>
</div>

<h3>Times and Weather for Today's Sunrise and Sunset</h3>
<div class="row">
  <div id="dashboard-table" class="col m6 offset-m1">
    <table>
      <thead>
        <tr>
          <th data-field="id">Location</th>
          <th data-field="name">Sunrise Time</th>
          <th data-field="price">Weather</th>
          <th data-field="name">Sunset Time</th>
          <th data-field="price">Weather</th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each_with_index do |location, index| %>
        <tr>
            <td><%= location.city %></td>
            <td><%= @cleaner.sunrises[index] %></td>
            <td><%= @cleaner.sunrises_weather[index] %></td>
            <td><%= @cleaner.sunsets[index] %></td>
            <td><%= @cleaner.sunsets_weather[index] %></td>
            <td><%= link_to "More Data", data_path %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
