<div class="where-title col m6 offset-m1 container center">
  <h2>Where do you want to see the sunset?</h2>
</div>

<div class="new-location col m6 offset-m1">
  <div id="location-form" class="container">
    <%= form_for @location do |f| %>
      <div>
        <%= f.label :address, class: "form-text" %>
        <%= f.text_field :address %>
      </div>
      <div>
        <%= f.label :city, class: "form-text" %>
        <%= f.text_field :city %>
      </div>
      <div>
        <%= f.label :state, class: "form-text" %>
        <%= f.text_field :state %>
      </div>
      <div>
        <%= f.label :zipcode, class: "form-text" %>
        <%= f.text_field :zipcode %>
      </div>
      <div>
        <%= f.label :date, class: "datepicker"  %>
        <%= f.text_field :date, class: "datepicker" %>
      </div>
      <%= f.submit "Submit", class:"submit-btn blue" %>
    <% end %>
  </div>
</div>
