<!DOCTYPE html>
<html>
<head>
  <title>SunsetTracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>





  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
  <title>Smoothed D3.js Radar Chart</title>

  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

  <!-- /*<style>
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 300;
      fill: #242424;
      text-align: center;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
      cursor: default;
    }

    .legend {
      font-family: 'Raleway', sans-serif;
      fill: #333333;
    }

    .tooltip {
      fill: #333333;
    }
  </style>*/ -->




</head>

  <%= render partial: "partials/backgrounds" %>

  <%= render partial: "partials/navbar" %>

  <% flash.each do |type, msg| %>
    <div class="flashes col m6">
      <%= content_tag :div, msg %>
    </div>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</body>
</html>
